/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility */

.debug {
  border: 1px solid red;
  background-color: rgba(122, 170, 154, 0.792);
}

/* general */

body {
  font-family: 'Lato', sans-serif;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  border-radius: 25px;
  text-align: center;
  line-height: 39px;
  background-color: #FFFFFF;
  display: inline-block;
}

.logo {
  cursor: pointer;
}


/* header */

header {  
  background-color: #245EE8;
  height: 80px;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}



header .menu ul {
  display: flex;
}

header .menu ul li {
  padding: 0 20px;
  list-style: none;
}

header .menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

header .menu ul li a:hover {
  text-decoration: underline;
}

header .button {
  width: 70px;
  height: 40px;
  background-color: #FFFFFF;
  transition-duration: 0.5s;
} 

header .button:hover {
  box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

header .button a {
  text-decoration: none;
  color: #373B3F;
  font-size: 0.9rem;
} 

header .button a:hover {
 color: #245EE8;

}

/* jumbotron */

.jumbotron {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  height: 550px;
  text-align: center;
}

.jumbotron .content {
   max-width: 632px;
   padding-top: 110px;
   margin: 0 auto;
   color: #FFFFFF;
}

.jumbotron .content h1 {
  font-size: 3.2rem;
  font-weight: bolder;
  padding-bottom: 20px;
}

.jumbotron .content p {
  font-size: 1.1rem;
  padding-bottom: 20px;
  line-height: 25px;
}


.jumbotron .button.right {
  width: 225px;
  height: 55px;
  background-color: #FFFFFF;
  margin-right: 20px;
  line-height: 53px;
  transition-duration: 0.5s;
}
.jumbotron .button.right:hover {
  box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


.jumbotron .button.left {
  width: 300px;
  height: 55px;
  background-color: black;
  line-height: 53px;
  transition-duration: 0.5s;
}

.jumbotron .button.left:hover {
  box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.736);
  cursor: pointer;
}


.jumbotron .button.right a {
  color: #373B3F;
  text-decoration: none;
}

.jumbotron .button.left a {
  color: #FFFFFF;
  text-decoration: none;
}

.jumbotron .button.right a:hover {
  color:#245EE8;
}

.fa-solid, .fa-arrow-down-long {
  margin: 5px;
}



/* main */

main section .container {
  display: flex;
  justify-content: space-around;
  padding-top: 160px;
  padding-bottom: 160px;
  min-height: 500px;
}


.bg-grey {
  background-color: #F6F6F6;
}

main .image {
  max-width: 625px;
}

main .text {
  max-width: 300px;
}

main .text h3 {
  font-size: 2.8rem;
  padding-bottom: 20px;
}

main p {
  line-height: 25px;
  font-size: 1.2rem;
} 

.box-text {
  max-width: 900px;
}

.box-text p {
  padding-bottom: 20px;
}


.box-text h2 {
  font-size: 2.6rem;
  padding-bottom: 50px;
}

section.section-bottom .container {
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

 .image-big img {
  max-width: 1100px;
  margin: 0 auto;
}

.cta h4 {
  font-size: 1.7rem;
  padding-top: 10px;
  padding-bottom: 40px;
}

.cta .button {
  width: 230px;
  height: 50px;
  background-color: #5964F1;
  line-height: 48px;
  transition-duration: 0.5s;
} 

.cta .button:hover {
  box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color:#6e81c7ce;
}

.cta .button a {
  text-decoration: none;
  color: #FFFFFF;
}


/* footer */

footer {
  height: 650px;
  background-color: #222729;
  color: white;
}


footer .footer-top.container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 40px;
}

footer .col-social {
  width: 245px;
  color: #7288DB;
}

footer .col-menu {
  width: 100px;
  color:#7288DB;
}

footer .col-menu span {
  line-height: 25px;
}

footer .col-social h2 {
  padding-bottom: 10px;
}

footer .col-social span {
  font-size: 0.8rem;
  color: #FFFFFF;
}

footer .col-social .flag img{
  width: 15px;
}

footer .col-social .icons {
  padding-top: 10px;
  display: flex;
}

footer .col-social .icons span {
  margin-right: 10px;
  font-size: 0.8rem;
}

footer nav ul {
  list-style: none;
}

footer nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.9rem;
  line-height: 25px;
}

footer nav ul li a:hover {
  text-decoration: underline;
}


footer .footer-bottom.container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  border-top: 1px solid #5964F1;
}

footer .button {
  width: 70px;
  height: 40px;
  background-color:#7288DB;
  transition-duration: 0.5s;
} 

footer .button:hover {
  box-shadow: 1px 3px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color:#677eceda;
}


footer .button a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #FFFFFF;
} 
